<h1>Dettaglio Accordo</h1>


<div class="form-group col-md-3 pull-right">
  <label>Search: </label>
  <input type="text" class="form-control" ng-model="accDettaglio"/>  
</div>


<table class="table table-striped table-bordered table-hover table-responsive" ng-controller="dettaglioAccordoCtrl">
  <thead>
    <tr>
      <th>Esistenza Conto</th>
      <th>Stato Conto</th>
      <th>Divisa Conto</th>
      <th>Richiesta Chiusura</th>
      <th>Presenza Blocchi</th>
      <th>Lista Blocchi</th>
    </tr>
  </thead>
  <tbody>

    <tr ng-repeat="accDettaglio in dettaglioAccordoAll | filter:accDettaglio">
      <td>{{accDettaglio.esistenzaConto}}</td>
      <td>{{accDettaglio.statoConto}}</td>
      <td>{{accDettaglio.divisaConto}}</td>
      <td>{{accDettaglio.richiestaChiusura}}</td>
      <td>{{accDettaglio.presenzaBlocchi}}</td>
      <td>
        <div ng-repeat="lista in accDettaglio.listaBlocchi" style="border: 1px ridge #333; background-color: azure; padding: 5px; margin-bottom: 2px">
          <span>{{lista.description}}</span>
          <br>

          <div ng-if="accDettaglio.statoConto === 'blocked'">
            <span style="color: red; font-weight: bold;">{{lista.date.start}} - {{lista.date.end}}</span>
          </div>
        </div>

        <!-- <tr ng-repeat="lista in accDettaglio.listaBlocchi">
                <td>{{lista}}</td>
              </tr> -->

      </td>
    </tr>
  </tbody>
</table>
