<h1>Customer</h1>
<!-- <p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p> -->

<table class="table table-striped table-bordered table-hover table-responsive">
    <thead>
      <tr>
        <th>{{test}}</th>
        <th>Role</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Status</th>
        <th>Signature Type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>john@example.com</td>
        <td>john@example.com</td>
        <td>john@example.com</td>
      </tr>         
    </tbody>
  </table>
  