<h1>CCI Report</h1>

<div class="col-md-5">
<form>
    <div class="form-group">
        <label for="serviceInput">Service</label>
        <input type="text" class="form-control" id="serviceInput" placeholder="Enter service">
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>

    <div class="form-group">
        <label for="nkDoor">NK Door</label>
        <input type="text" class="form-control" id="nkDoor" placeholder="Enter NK Door">
    </div>

    <div class="form-group">
        <label for="nkAccount">NK Account</label>
        <input type="text" class="form-control" id="nkAccount" placeholder="Enter NK account">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>