<h1>CCI Report</h1>

<div class="col-md-5">
<form>
    <div class="form-group">
        <label for="userId">User ID</label>
        <input type="text" class="form-control" id="userId" placeholder="Enter user id">
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>

    <div class="form-group">
        <label for="office">Office</label>
        <input type="text" class="form-control" id="office" placeholder="Enter office">
    </div>

    <div class="form-group">
        <label for="bill">Bill</label>
        <input type="text" class="form-control" id="bill" placeholder="Enter bill">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>