<form>
    <div class="form-group">
        <label for="serviceInput">Service: </label>
        <input type="text" class="form-control" id="serviceInput" ng-model="pertecipantiAccordo.serviceInput" placeholder="Input Sevice name">
        <!-- <small class="form-text text-muted"></small> -->
    </div>

    <div class="form-group">
        <label for="chiaveEsterna">Chiave Esterna: </label>
        <input type="text" class="form-control" id="chiaveEsterna" ng-model="pertecipantiAccordo.chiaveEsterna" placeholder="Chiave Esterna">
    </div>

  <label class="my-1 mr-2">Code Tip Exp</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" value="111" ng-model="pertecipantiAccordo.codTipExpe">
        <label class="form-check-label" for="codTipExpe">
            #111
        </label>
    </div>
    
    <div class="form-check">
        <input class="form-check-input" type="radio" value="222"  ng-model="pertecipantiAccordo.codTipExpe" >
        <label class="form-check-label" for="codTipExpe">
            #222
        </label>
    </div>
 

    <!-- <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Preference</label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Choose...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select> -->
  <br>
  <label class="my-1 mr-2">Code Sportello</label>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="123456"  name="codSportello">
        <label class="form-check-label" for="codSportello">
            #123456
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="798456"  name="codSportello">
        <label class="form-check-label" for="codSportello">
            #798456
        </label>
    </div>
    <br>
    <button type="submit" class="btn btn-success" ng-click="addAccordo()">Submit</button>
</form>

